table{
    margin: auto;
    width: 500px;
    height: 500px;
    font-size: 30px;
    border : 5px solid;
}
.showHint{
    margin-top: 0px;
    margin-bottom: 0px;
}

.clicked{
    background-color: #D6F5FF;
}
.non_clicked{
    background-color: white;
}

.boldLineBottom {
    border-bottom: 3.5px solid;
    border-bottom-color: black;
}

.boldLineTop {
    border-right: 3.5px solid;
    border-right-color: black;
}

