@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
table{
    table-layout: fixed;
    font-family: 'Gamja Flower', cursive;
    margin: auto;
    font-size: 30px;
    border : 5px solid;
}
.showHint{
    margin-top: 0px;
    margin-bottom: 0px;
}

.clicked{
    background-color: #D6F5FF;
    width: 50px;
    height: 50px;
}
.non_clicked{
    background-color: white;
    width: 50px;
    height: 50px;
}

.boldLineBottom {
    border-bottom: 3.5px solid;
    border-bottom-color: black;
}

.boldLineTop {
    border-right: 3.5px solid;
    border-right-color: black;
}
.num_button button{
    margin-top:10px;
    height: auto;
    padding:10px;
    width: 50px;
    height:50px;
}
.header_button button{
    white-space: nowrap;
    text-align: center;
    height: auto;
    height:50px;
}
button{
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
}
.diff button{
    margin-right: 0px;   
}
.body{
    background-color: #e1f5fe;
}